body {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
}

.container {
    /* width: 79%; */
     display: flex;
    flex-direction: column;
    /* margin: -1 auto; */
    margin: 0rem;
}

h0::after {
    /* text-align: center; */
    content: "🎷";
}

.results-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result {
    border: 0px solid #000;
    width: 47%;
    box-sizing: border-box;
    padding: 9px;
    margin-bottom: 9px;
    text-align: center;
}

/* Headers */
#page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
}
#search-bands {
    border: 0px solid black;
    box-shadow: .0rem .1rem;
    outline: black;
    border-radius: .24rem;
    padding: .24rem 1rem .25rem 1rem;
    font-size: large;
    transition: .4s;
}
#search-bands:focus {
    box-shadow: .04rem .05rem;
    outline: black;
}

.music {
    /* margin: 0rem 1rem 1rem 1rem; */
    padding: 0rem 1rem 1rem 1rem;
}
#page-nav {
    display: flex;
    flex-direction: column;
}

#search-form {
    position: relative;
    align-items: center;
    padding: .24rem 1rem .25rem 1rem;
    justify-content: space-around;
    border: 0px solid black;
    font-size: large;
    font-weight: bold;
    border-radius: .24rem;
}
#submit-btn {
    position: absolute;
    top: 79px;
    left: 199px;
    background-color: #fff;
    border: 0px solid #000;
    border-radius: .24rem;
    background-color: #49bebe;
    box-shadow: .0rem .1rem;
    transition: .1s;
}
#submit-btn:hover {
    cursor: pointer;
    transition: .1s;
}
#submit-btn:active {
    background-color: #69bebe;
    box-shadow: .04rem .05rem;
}

@media screen and (max-width: 679px) {
    body {
        display: flex;
        flex-direction: column;
    }    
}