body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.results-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result {
    border: 1px solid #000;
    width: 48%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}